

*
{
    background-color: azure;
}


h1
{
color:darkslateblue;
}

body #first-paragraph
{
font-family: Arial; 
}

body 
{
font-size: 16px;
line-height: 2;
margin: 30px;

}





img 
{
float: left;
margin: 0 20px 20px 0;
width: 300px;
}

#b
{
border: 9px solid gray;
}

p 
{
margin-bottom: 2em;
}

small 
{
clear: left;
display: block;
}